<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Add header %></h1>
    <p>
      Add text for email text.<br>
    </p>
    <p>
      CyberCraft inc. %>.
    </p>
    <p>Have a good day!</p>
  </body>
</html>
